[submodule "extensions/FixedColumns"]
	path = extensions/FixedColumns
	url = git@github.com:DataTables/FixedColumns.git
[submodule "extensions/FixedHeader"]
	path = extensions/FixedHeader
	url = git@github.com:DataTables/FixedHeader.git
[submodule "extensions/Scroller"]
	path = extensions/Scroller
	url = git@github.com:performancematters/Scroller.git
[submodule "extensions/Buttons"]
	path = extensions/Buttons
	url = git@github.com:performancematters/Buttons.git
[submodule "extensions/Select"]
	path = extensions/Select
	url = git@github.com:performancematters/Select.git
[submodule "extensions/KeyTable"]
	path = extensions/KeyTable
	url = git@github.com:performancematters/KeyTable.git
[submodule "plugins"]
	path = plugins
	url = git@github.com:performancematters/DataTables-Plugins.git
[submodule "extensions/Responsive"]
	path = extensions/Responsive
	url = git@github.com:performancematters/DataTables-Responsive.git
